.intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 140px;
}

.intro-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 234px;
}

.intro-examples-container {
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
}

.intro-image {
    height: 400px;
    width: 415px;
    justify-content: center;
    align-items: center;
}

.intro-title {
    font-size: 42px;
    line-height: 1.2;
}

.intro-examples {
    display: flex;
}

.intro-examples-info-text-title {
    font-size: 16px;
    color: #3098F3;
}

.intro-examples-info-text-subtitle {
    font-size: 32px;
    margin-top: 10px;
    line-height: 1.3;
}

.intro-examples-info-text {
    display: flex;
    flex-direction: column;
}

.intro-examples-info {
    background-color: #F2EAE2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    width: 560px;
}

.intro-examples-info-button {
    font-size: 18px;
    width: 141px;
}

.intro-button {
    background-color: #3098F3;
    color: white;
    font-size: 18px;
    font-weight: 700;
    width: 250px;
    height: 57px;
    border-radius: 250px;
    border: none;
}

@media screen and (max-width: 500px) {
    .intro {
        align-items: flex-start;
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .intro-about {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 100px;
    }

    .intro-title {
        font-size: 42px;
        line-height: 1.2;
        padding-left: 30px;
    }

    .intro-image {
        height: 400px;
        max-width: 415px;
        justify-content: flex-start;
        padding-left: 100px;

    }

    .intro-examples {
        display: list-item;
    }

    .intro-examples-info {
        background-color: #F2EAE2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px;
        max-width: 560px;
    }

    .intro-examples-container {
        display: flex;
        flex-direction: column;
        gap: 70px;
        align-items: flex-start;
    }

}